@import 'stylesheets/checkboxes.css';

.mat-form-field {
  width: 100%;
}

.mat-form-field .mat-mdc-form-field-flex {
  align-items: center;
}

.mat-form-field .mat-mdc-form-field-infix {
  width: 100%;
}
