:root {
  --bg-color: #1e1e1e;
  --text-color: rgba(9, 9, 9, 0.84);
  --border-color: #3a3a3a;
  --box-shadow-color: rgba(0, 0, 0, 0.5);
  --button-bg-color: #3a3a3a;
  --button-hover-bg-color: #575757;
  --save-button-bg-color: #006400;
  --delete-button-bg-color: #ff0000;
  --checkbox-border-color: #666666;
  --checkbox-bg-color: #ffffff;
  --checkbox-checked-bg-color: #007bff;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.outer-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: calc(100vh - 60px);
  background-color: var(--bg-color);
  overflow-y: auto;
  margin-top: 60px;
}

.task-container {
  width: 100%;
  max-width: 700px;
  padding: 20px;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  background-color: var(--bg-color);
  box-shadow: 0 0 10px var(--box-shadow-color);
  margin: 0 auto 20px;
  box-sizing: border-box;
}

.task-list-container {
  flex: 1;
  padding: 15px;
  border-right: 1px solid var(--border-color);
  overflow-y: auto;
}

.task-details-container {
  flex: 1;
  padding: 10px;
  background-color: var(--bg-color);
  overflow-y: auto;
}

.description-container {
  width: 300px;
  padding: 20px;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  background-color: var(--bg-color);
  box-shadow: 0 0 10px var(--box-shadow-color);
  margin-left: 20px;
  height: 40px;
}

.title {
  font-size: 24px;
  margin-bottom: 10px;
  color: var(--text-h-light-color);
  border-right: none;
}


.task-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
  overflow-y: auto;
  max-height: 80vh;
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #2a2a2a;
  margin-bottom: 5px;
  border-radius: 4px;
  box-sizing: border-box;
  min-width: 200px;
  min-height: 56px;
  margin-left: 10px;
  margin-right: 10px;
  text-wrap: normal;
}

.task-text {
  flex: 1;
  margin-left: 10px;
  min-width: 55px;
  word-wrap: break-word;
  color: var(--text-color);
}

.task-description {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--checkbox-border-color);
  border-radius: 4px;
  background-color: #2a2a2a;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
  transition: height 0.3s ease;
  margin-left: 10px;
  margin-right: 10px;
  min-width: 55px;
}

.task-description.ng-star-inserted {
  height: auto;
}

.input-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.input-block {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.task-input-field {
  flex: 1;
  min-height: 56px;
}

.mat-form-field {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}

.mat-form-field-infix {
  display: flex;
  align-items: center;
  height: 100%;
}

.mat-input-element {
  height: 100%;
}

.task-input {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--checkbox-border-color);
  border-radius: 4px;
  min-height: 56px;
  resize: vertical;
  box-sizing: border-box;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.mat-mdc-form-field-subscript-wrapper {
  display: none;
}

.selected {
  background-color: #87cefa;
  border-radius: 4px;
}

.selected .task-item {
  background-color: inherit;
  border-radius: inherit;
}

.button-group {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 10px;
}

.app-button {
  flex: 0 0 auto;
  min-height: 56px;
}

.button--save {
  background-color: var(--save-button-bg-color);
  color: var(--text-color);
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.button--delete {
  background-color: var(--delete-button-bg-color);
  color: var(--text-color);
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.button--save:hover {
  background-color: #008000;
}

.edit-task-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.edit-task-field {
  flex: 1;
  min-height: 56px;
}

.edit-fields {
  display: flex;
  gap: 5px;
  width: 100%;
  align-items: center;
}

.edit-mode-buttons {
  gap: 20px;
}

.view-task-form {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.button-container {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.custom-checkbox {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-right: 10px;
  appearance: none;
  border: 1px solid var(--checkbox-border-color);
  border-radius: 4px;
  background-color: var(--checkbox-bg-color);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-shrink: 0;
}

.custom-checkbox:checked {
  background-color: var(--checkbox-checked-bg-color);
  border-color: var(--checkbox-checked-bg-color);
}

.custom-checkbox:checked::after {
  content: '✔';
  color: var(--text-color);
  font-size: 14px;
}

.custom-checkbox:not(:disabled):not(:checked):hover {
  border-color: #b3d7ff;
}

.custom-checkbox:not(:disabled):active {
  background-color: #b3d7ff;
  border-color: #b3d7ff;
}

.custom-checkbox:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.custom-checkbox:focus:not(:checked) {
  border-color: #80bdff;
}

.task-details-item {
  margin-top: 10px;
  color: var(--text-color);
  font-size: 14px;
  line-height: 1.5;
}

.task-details-item h2 {
  margin-bottom: 15px;
}

.task-parameter {
  margin-bottom: 10px;
}
